html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
  width: 100%;
}

span {
  margin-bottom: 20px;
}

.container {
  margin-bottom: 20px;
}

.puzzle {
  height: 100px;
  width: 100px;
  font-size: 40px;
  background-color: #b2ff59;
}

.row {
  margin-bottom: 20px;
}
